node-red/flows PraUAS 3.json
[
    {
        "id": "fe9ea17b49df0c02",
        "type": "tab",
        "label": "Pabrik 'Pra UAS 1'",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "179d262fc9692c59",
        "type": "inject",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "8d779544cc5ee7b1",
                "8398048f61e4ac43",
                "241a48c58e482b1e",
                "ab5156dbb388b81a",
                "5fac3f688cf310a6",
                "926a475f401ea14c",
                "39cf2682c8cfec41",
                "f40ddd88dd62d62c",
                "4b350121fe1bacae"
            ]
        ]
    },
    {
        "id": "a6ae95c996995d5a",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d779544cc5ee7b1",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 1: Susu Hewani dan Telur (0 - 96000 g, kalsium)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "aaac693c4df1d9ea",
                "f84e200f613fbdc6",
                "964f3f7e5bb16495"
            ]
        ]
    },
    {
        "id": "61c0b6eebee0cf2d",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 100,
        "wires": [
            [
                "c5c4612a0ef44f38",
                "7a63ca28a41ec5f9"
            ]
        ]
    },
    {
        "id": "c5c4612a0ef44f38",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 100,
        "wires": []
    },
    {
        "id": "241a48c58e482b1e",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 4: Sumber karbohidrat (0 - 100000, g (karbohidrat))",
        "low": "0",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 680,
        "wires": [
            [
                "df9175b117db5ed4",
                "26cc3ef27f28bdb8",
                "c830c585bb7e8d61"
            ]
        ]
    },
    {
        "id": "8398048f61e4ac43",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 9: Jumlah Pengunjung (jumlah orang, 0 - 200)",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 1640,
        "wires": [
            [
                "2a8399594461359a",
                "be9b1d899dccf981",
                "e276bca3c96ef944"
            ]
        ]
    },
    {
        "id": "3d1332af692b0581",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 640,
        "wires": []
    },
    {
        "id": "1ed0e147fa84c96f",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1240,
        "wires": []
    },
    {
        "id": "97ba6c0aed6fd163",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 640,
        "wires": [
            [
                "d9e57f23e47ede4f",
                "d004346e5f653af5"
            ]
        ]
    },
    {
        "id": "cc7a86b256d28c1a",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1160,
        "wires": [
            [
                "6b67e97540ef8025",
                "a33900e39de50ab5"
            ]
        ]
    },
    {
        "id": "d9e57f23e47ede4f",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 640,
        "wires": []
    },
    {
        "id": "6b67e97540ef8025",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1160,
        "wires": []
    },
    {
        "id": "479aa6be0d4f3924",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "ab5156dbb388b81a",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 2: Daging Merah (0 - 250000 kcal)",
        "low": "-100",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "d64bef46247924ba",
                "07a8c85186d3be71",
                "b1b4aed4cc8b5ace"
            ]
        ]
    },
    {
        "id": "393fa1862828a1e9",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "5fac3f688cf310a6",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 3: Daging Putih (0 - 50 kg (Protein))",
        "low": "1",
        "high": "14",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "56a48e88316f1e0a",
                "e1917f450d16d096",
                "e234a8c77d13bbed"
            ]
        ]
    },
    {
        "id": "926a475f401ea14c",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 5: Sayuran (0 - 50000 g, (zat besi))",
        "low": "0",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "cc7554c1c8a638dd",
                "80c890da7e9c077d",
                "30544de2a3335bf5"
            ]
        ]
    },
    {
        "id": "26f2707296315ed3",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 680,
        "wires": []
    },
    {
        "id": "39cf2682c8cfec41",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 6: Buah-buahan (0 - 20000 mg (Vit C))",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 470,
        "y": 980,
        "wires": [
            [
                "5c7db6ec0e23f4d5",
                "4bfdf250633b995a",
                "5349d278365e5160"
            ]
        ]
    },
    {
        "id": "951e9db186cc73ac",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 720,
        "wires": []
    },
    {
        "id": "4b350121fe1bacae",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 8: Hasil penjualan (Sales, IDR 0 - 1000000000)",
        "low": "0",
        "high": "1000000000",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 1420,
        "wires": [
            [
                "4fcdad74ac723060",
                "8d69fa9132715c91",
                "29f0c05b21efcf9f"
            ]
        ]
    },
    {
        "id": "3d2c9b2a6be9d9b3",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f40ddd88dd62d62c",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 7: Deteksi musim (Variabel musim, 1 - 4)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "aa4388c250af5716",
                "2e2ff051ece6a550",
                "0b013f917aeeb0c8"
            ]
        ]
    },
    {
        "id": "552da1aee4e521d1",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "08dfb76f785fb1a4",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 140,
        "wires": [
            [
                "b6967844bdf96b38",
                "cb308fd75ad3d7a9"
            ]
        ]
    },
    {
        "id": "b6967844bdf96b38",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5ce7b5ce340e889",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 180,
        "wires": [
            [
                "2540bdcff95f78bb",
                "cdf415b40320c165"
            ]
        ]
    },
    {
        "id": "2540bdcff95f78bb",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 180,
        "wires": []
    },
    {
        "id": "2595ed6ed9eeeee3",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 680,
        "wires": [
            [
                "d3d4a1716f984184",
                "e2ea598be2d03649"
            ]
        ]
    },
    {
        "id": "d3d4a1716f984184",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 680,
        "wires": []
    },
    {
        "id": "be45123a5ae3fc37",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 720,
        "wires": [
            [
                "bbbcbaf22810b8b5",
                "9979ccfd5e3bde0d"
            ]
        ]
    },
    {
        "id": "bbbcbaf22810b8b5",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 720,
        "wires": []
    },
    {
        "id": "569354bc525b6a4b",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1200,
        "wires": [
            [
                "3d37c46108bd431d",
                "1dc6304168b4963b"
            ]
        ]
    },
    {
        "id": "3d37c46108bd431d",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cbee16c23d484e95",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1240,
        "wires": [
            [
                "4746bf57d5f19d3f",
                "ecc89ad4fda7a728"
            ]
        ]
    },
    {
        "id": "4746bf57d5f19d3f",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d29316d1346f4b5e",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Sistem 2: Smart Plantation",
        "info": "",
        "x": 390,
        "y": 640,
        "wires": []
    },
    {
        "id": "8e443cf2d53d1b4b",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Sistem 1: Smart Farm",
        "info": "",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "ade803c60deac550",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Sistem 3: Smart Restaurant",
        "info": "",
        "x": 420,
        "y": 1180,
        "wires": []
    },
    {
        "id": "fd33df5dea296e1f",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Pabrik 'Pra UAS'",
        "info": "",
        "x": 500,
        "y": 20,
        "wires": []
    },
    {
        "id": "7a63ca28a41ec5f9",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 1: Susu Hewani dan Telur (Gas, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1800,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb308fd75ad3d7a9",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 2: Daging Merah (Suhu, -100 - 10 C)",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 120,
        "wires": []
    },
    {
        "id": "cdf415b40320c165",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 3: Daging Putih (pH, 1 - 14)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1750,
        "y": 160,
        "wires": []
    },
    {
        "id": "d004346e5f653af5",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 4: Sumber karbohidrat (Volume, 0 - 100000 L)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 620,
        "wires": []
    },
    {
        "id": "e2ea598be2d03649",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 5: Sayuran (Berat, 0 - 1000 kg)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1700,
        "y": 660,
        "wires": []
    },
    {
        "id": "9979ccfd5e3bde0d",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 6: Buah-buahan (Kelembaban, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1720,
        "y": 700,
        "wires": []
    },
    {
        "id": "a33900e39de50ab5",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 7: Deteksi musim (Variabel musim, 1 - 4)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1dc6304168b4963b",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 8: Hasil penjualan (Sales, IDR 0 - 1000000000)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ecc89ad4fda7a728",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 9: Jumlah Pengunjung (jumlah orang, 0 - 200)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f84e200f613fbdc6",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor cahaya UV (lux)",
        "low": "0",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 930,
        "y": 140,
        "wires": [
            [
                "479aa6be0d4f3924"
            ]
        ]
    },
    {
        "id": "964f3f7e5bb16495",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor suhu (C)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 900,
        "y": 180,
        "wires": [
            [
                "393fa1862828a1e9"
            ]
        ]
    },
    {
        "id": "d64bef46247924ba",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Pressure sensor (P, 1000 - 100000)",
        "low": "1000",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 960,
        "y": 280,
        "wires": [
            [
                "eab1234eefb659de"
            ]
        ]
    },
    {
        "id": "07a8c85186d3be71",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Accelerometer sensor (cm/s, 5 - 200)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 970,
        "y": 320,
        "wires": [
            [
                "7ee492ace746e79a"
            ]
        ]
    },
    {
        "id": "b1b4aed4cc8b5ace",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Angular sensor (rad/s, 0 - 50)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 360,
        "wires": [
            [
                "39dd545b777f313e"
            ]
        ]
    },
    {
        "id": "56a48e88316f1e0a",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Pressure sensor (P, 1000 - 100000)",
        "low": "1000",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 960,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e1917f450d16d096",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Accelerometer sensor (cm/s, 5 - 200)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 970,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e234a8c77d13bbed",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Angular sensor (rad/s, 0 - 50)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "df9175b117db5ed4",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Ultrasonic sensor (cm, 0 - 180)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 930,
        "y": 640,
        "wires": [
            [
                "3d1332af692b0581"
            ]
        ]
    },
    {
        "id": "26cc3ef27f28bdb8",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Gas sensor (%, 0 - 100)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 910,
        "y": 680,
        "wires": [
            [
                "26f2707296315ed3"
            ]
        ]
    },
    {
        "id": "c830c585bb7e8d61",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "pH sensor (1 - 14)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 890,
        "y": 720,
        "wires": [
            [
                "951e9db186cc73ac"
            ]
        ]
    },
    {
        "id": "cc7554c1c8a638dd",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Motion sensor (0 - 1)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 840,
        "y": 780,
        "wires": [
            [
                "dec4d45d4a9f2944"
            ]
        ]
    },
    {
        "id": "80c890da7e9c077d",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Tilt sensor (0 - 360, derajat)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 860,
        "y": 820,
        "wires": [
            [
                "eaace9a8cc2fa288"
            ]
        ]
    },
    {
        "id": "30544de2a3335bf5",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor gaya (0, 10000, N)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 860,
        "y": 860,
        "wires": [
            [
                "a53eda049642babc"
            ]
        ]
    },
    {
        "id": "5c7db6ec0e23f4d5",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor aliran(0, 10000, N)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 860,
        "y": 940,
        "wires": [
            [
                "da76234ce66ed975"
            ]
        ]
    },
    {
        "id": "4bfdf250633b995a",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor kelembaban(0 - 100, %)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 870,
        "y": 980,
        "wires": [
            [
                "cfe34c04192f88e3"
            ]
        ]
    },
    {
        "id": "0b013f917aeeb0c8",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor gambar(0 - 3840, pixel)",
        "low": "5",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 950,
        "y": 1240,
        "wires": [
            [
                "1ed0e147fa84c96f"
            ]
        ]
    },
    {
        "id": "aa4388c250af5716",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor CO2(0 - 5000, ppm)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 1160,
        "wires": [
            [
                "552da1aee4e521d1"
            ]
        ]
    },
    {
        "id": "2e2ff051ece6a550",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor cahaya (0 - 1023, (LDR))",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 950,
        "y": 1200,
        "wires": [
            [
                "3d2c9b2a6be9d9b3"
            ]
        ]
    },
    {
        "id": "5349d278365e5160",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor massa(0 - 250, kg)",
        "low": "0",
        "high": "250",
        "inte": "true",
        "property": "payload",
        "x": 860,
        "y": 1020,
        "wires": [
            [
                "e783b0b56db13382"
            ]
        ]
    },
    {
        "id": "8d69fa9132715c91",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor vibrasi (0 - 100, a/s)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 1420,
        "wires": [
            [
                "20444bbf990fc609"
            ]
        ]
    },
    {
        "id": "29f0c05b21efcf9f",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor magnetik (0 - 100, tesla)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 950,
        "y": 1460,
        "wires": [
            [
                "57e4ecf1a27a0f71"
            ]
        ]
    },
    {
        "id": "2a8399594461359a",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor radiasi (100 - 1000, gray)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 960,
        "y": 1600,
        "wires": [
            [
                "51aee1d4e89e8180"
            ]
        ]
    },
    {
        "id": "4fcdad74ac723060",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor cuaca (0 - 5)",
        "low": "0",
        "high": "50000",
        "inte": "true",
        "property": "payload",
        "x": 920,
        "y": 1380,
        "wires": [
            [
                "33aebc2a283c6b44"
            ]
        ]
    },
    {
        "id": "e276bca3c96ef944",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor oksigen(0 - 100, %)",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "aaac693c4df1d9ea",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor proksimitas (m, 0 - 10)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 950,
        "y": 100,
        "wires": [
            [
                "a6ae95c996995d5a"
            ]
        ]
    },
    {
        "id": "be9b1d899dccf981",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Sensor suara (20 - 150, dB)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 1640,
        "wires": [
            [
                "65133194212f4eac"
            ]
        ]
    },
    {
        "id": "eab1234eefb659de",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d85a228413ebf40",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 280,
        "wires": [
            [
                "92b597104a3dd32a",
                "a385b60f3419c135"
            ]
        ]
    },
    {
        "id": "92b597104a3dd32a",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ee492ace746e79a",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "39dd545b777f313e",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "76427a969a7f965a",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 320,
        "wires": [
            [
                "0d85d66554d10aa5",
                "8e68efb939795885"
            ]
        ]
    },
    {
        "id": "0d85d66554d10aa5",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 320,
        "wires": []
    },
    {
        "id": "6ad994f3cdaf9a65",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 360,
        "wires": [
            [
                "1956b92e574fb076",
                "8bdb03291626d760"
            ]
        ]
    },
    {
        "id": "1956b92e574fb076",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 360,
        "wires": []
    },
    {
        "id": "a385b60f3419c135",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 1: Susu Hewani dan Telur (Gas, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1800,
        "y": 260,
        "wires": []
    },
    {
        "id": "8e68efb939795885",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 2: Daging Merah (Suhu, -100 - 10 C)",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 300,
        "wires": []
    },
    {
        "id": "8bdb03291626d760",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 3: Daging Putih (pH, 1 - 14)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1750,
        "y": 340,
        "wires": []
    },
    {
        "id": "8d9785799e9993b6",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 440,
        "wires": []
    },
    {
        "id": "5cad9d961ca994ae",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 440,
        "wires": [
            [
                "b7c2d47a60859ce1",
                "91a9af54dee3a4f7"
            ]
        ]
    },
    {
        "id": "b7c2d47a60859ce1",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 440,
        "wires": []
    },
    {
        "id": "56fd053f566dac09",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 480,
        "wires": []
    },
    {
        "id": "bf124d000cc3415e",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1260,
        "y": 520,
        "wires": []
    },
    {
        "id": "4a01aaf94af5e559",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 480,
        "wires": [
            [
                "8a2690b78e1c1eef",
                "d66f291f3d7332a7"
            ]
        ]
    },
    {
        "id": "8a2690b78e1c1eef",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 480,
        "wires": []
    },
    {
        "id": "57fd6c738b29d532",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1500,
        "y": 520,
        "wires": [
            [
                "13d15937a5a0aba6",
                "54276f13a27c3065"
            ]
        ]
    },
    {
        "id": "13d15937a5a0aba6",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 520,
        "wires": []
    },
    {
        "id": "91a9af54dee3a4f7",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 1: Susu Hewani dan Telur (Gas, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1800,
        "y": 420,
        "wires": []
    },
    {
        "id": "d66f291f3d7332a7",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 2: Daging Merah (Suhu, -100 - 10 C)",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 460,
        "wires": []
    },
    {
        "id": "54276f13a27c3065",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 3: Daging Putih (pH, 1 - 14)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1750,
        "y": 500,
        "wires": []
    },
    {
        "id": "dec4d45d4a9f2944",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 780,
        "wires": []
    },
    {
        "id": "b7eff35ef19bc06c",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 780,
        "wires": [
            [
                "f898eef9d0f1cb1e",
                "3817e6231c35ed46"
            ]
        ]
    },
    {
        "id": "f898eef9d0f1cb1e",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 780,
        "wires": []
    },
    {
        "id": "eaace9a8cc2fa288",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 820,
        "wires": []
    },
    {
        "id": "a53eda049642babc",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 860,
        "wires": []
    },
    {
        "id": "c4bf68013666925f",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 820,
        "wires": [
            [
                "98b05ea7b34d2bcc",
                "6c6f242c25f128a1"
            ]
        ]
    },
    {
        "id": "98b05ea7b34d2bcc",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 820,
        "wires": []
    },
    {
        "id": "7ca0be38b71d7a54",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 860,
        "wires": [
            [
                "a81ebc74d431a2fa",
                "805977f6d5b0f1f3"
            ]
        ]
    },
    {
        "id": "a81ebc74d431a2fa",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 860,
        "wires": []
    },
    {
        "id": "3817e6231c35ed46",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 4: Sumber karbohidrat (Volume, 0 - 100000 L)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 760,
        "wires": []
    },
    {
        "id": "6c6f242c25f128a1",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 5: Sayuran (Berat, 0 - 1000 kg)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1700,
        "y": 800,
        "wires": []
    },
    {
        "id": "805977f6d5b0f1f3",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 6: Buah-buahan (Kelembaban, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1720,
        "y": 840,
        "wires": []
    },
    {
        "id": "da76234ce66ed975",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 940,
        "wires": []
    },
    {
        "id": "186e9c699b1847f1",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 940,
        "wires": [
            [
                "77aa969e3821ab14",
                "da6ee46da6bd659f"
            ]
        ]
    },
    {
        "id": "77aa969e3821ab14",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 940,
        "wires": []
    },
    {
        "id": "cfe34c04192f88e3",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 980,
        "wires": []
    },
    {
        "id": "e783b0b56db13382",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "84b7cf2fde4521e9",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 980,
        "wires": [
            [
                "1bd0afa15a1f931c",
                "498a66ff5ce356a0"
            ]
        ]
    },
    {
        "id": "1bd0afa15a1f931c",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 980,
        "wires": []
    },
    {
        "id": "74ce7d5ce274a29b",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1020,
        "wires": [
            [
                "695990ab35154e3d",
                "b9d5a93ee6e90509"
            ]
        ]
    },
    {
        "id": "695990ab35154e3d",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 1020,
        "wires": []
    },
    {
        "id": "da6ee46da6bd659f",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 4: Sumber karbohidrat (Volume, 0 - 100000 L)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 920,
        "wires": []
    },
    {
        "id": "498a66ff5ce356a0",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 5: Sayuran (Berat, 0 - 1000 kg)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1700,
        "y": 960,
        "wires": []
    },
    {
        "id": "b9d5a93ee6e90509",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 6: Buah-buahan (Kelembaban, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1720,
        "y": 1000,
        "wires": []
    },
    {
        "id": "57e4ecf1a27a0f71",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1460,
        "wires": []
    },
    {
        "id": "fda8f4a6ddfb3bbf",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1380,
        "wires": [
            [
                "2f8459083df2f5b6",
                "3b54515b24947099"
            ]
        ]
    },
    {
        "id": "2f8459083df2f5b6",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1380,
        "wires": []
    },
    {
        "id": "20444bbf990fc609",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1420,
        "wires": []
    },
    {
        "id": "33aebc2a283c6b44",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1380,
        "wires": []
    },
    {
        "id": "cb56ecc684ef96f9",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1420,
        "wires": [
            [
                "e97141fe30a26cec",
                "3dc05d8ba6780a59"
            ]
        ]
    },
    {
        "id": "e97141fe30a26cec",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1420,
        "wires": []
    },
    {
        "id": "4ee2e99f0adb5130",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1460,
        "wires": [
            [
                "da2915a6460e7c57",
                "48803f4ff6556ba1"
            ]
        ]
    },
    {
        "id": "da2915a6460e7c57",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3b54515b24947099",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 7: Deteksi musim (Variabel musim, 1 - 4)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 1360,
        "wires": []
    },
    {
        "id": "3dc05d8ba6780a59",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 8: Hasil penjualan (Sales, IDR 0 - 1000000000)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1400,
        "wires": []
    },
    {
        "id": "48803f4ff6556ba1",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 9: Jumlah Pengunjung (jumlah orang, 0 - 200)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a63fb8d4dbd22cc5",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1680,
        "wires": []
    },
    {
        "id": "2c5a7e511249cf27",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1600,
        "wires": [
            [
                "2d0bf5f21998f29e",
                "23e5d5907cd34603"
            ]
        ]
    },
    {
        "id": "2d0bf5f21998f29e",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1600,
        "wires": []
    },
    {
        "id": "65133194212f4eac",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1640,
        "wires": []
    },
    {
        "id": "51aee1d4e89e8180",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1210,
        "y": 1600,
        "wires": []
    },
    {
        "id": "a947944fed011f62",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1640,
        "wires": [
            [
                "2c0f587ea1f94fd6",
                "523556daa119187d"
            ]
        ]
    },
    {
        "id": "2c0f587ea1f94fd6",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1640,
        "wires": []
    },
    {
        "id": "377e093ba29b6ce3",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1680,
        "wires": [
            [
                "e01315f014a0c77b",
                "d25c9e0f13f1fb57"
            ]
        ]
    },
    {
        "id": "e01315f014a0c77b",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1680,
        "wires": []
    },
    {
        "id": "23e5d5907cd34603",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 7: Deteksi musim (Variabel musim, 1 - 4)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 1580,
        "wires": []
    },
    {
        "id": "523556daa119187d",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 8: Hasil penjualan (Sales, IDR 0 - 1000000000)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1620,
        "wires": []
    },
    {
        "id": "d25c9e0f13f1fb57",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 9: Jumlah Pengunjung (jumlah orang, 0 - 200)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1660,
        "wires": []
    },
    {
        "id": "727660ac399984c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7e73e73e8d6c84c5",
        "type": "ui_group",
        "name": "Sistem 1: Smart Farm",
        "tab": "310b4eda0426e1b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5fa86670b910c43",
        "type": "ui_group",
        "name": "Sistem 2: Smart Plantation",
        "tab": "310b4eda0426e1b8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e84211c10641977c",
        "type": "ui_group",
        "name": "Sistem 3: Smart Restaurant",
        "tab": "310b4eda0426e1b8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "310b4eda0426e1b8",
        "type": "ui_tab",
        "name": "Pabrik 'Pra UAS'",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]