node-red/flows PraUAS 2.json
[
    {
        "id": "fe9ea17b49df0c02",
        "type": "tab",
        "label": "Data Center A",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "179d262fc9692c59",
        "type": "inject",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "8d779544cc5ee7b1",
                "8398048f61e4ac43",
                "241a48c58e482b1e",
                "ab5156dbb388b81a",
                "5fac3f688cf310a6",
                "926a475f401ea14c",
                "39cf2682c8cfec41",
                "f40ddd88dd62d62c",
                "4b350121fe1bacae",
                "33d1d8175c124c95"
            ]
        ]
    },
    {
        "id": "a6ae95c996995d5a",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "8d779544cc5ee7b1",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 1: Susu Hewani dan Telur (Gas, 0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "a6ae95c996995d5a"
            ]
        ]
    },
    {
        "id": "61c0b6eebee0cf2d",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "c5c4612a0ef44f38",
                "7a63ca28a41ec5f9"
            ]
        ]
    },
    {
        "id": "c5c4612a0ef44f38",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 200,
        "wires": []
    },
    {
        "id": "241a48c58e482b1e",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 4: Sumber karbohidrat (Volume, 0 - 100000 L)",
        "low": "0",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "3d1332af692b0581"
            ]
        ]
    },
    {
        "id": "8398048f61e4ac43",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 9: Jumlah Pengunjung (jumlah orang, 0 - 200)",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 720,
        "wires": [
            [
                "1ed0e147fa84c96f"
            ]
        ]
    },
    {
        "id": "3d1332af692b0581",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ed0e147fa84c96f",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "97ba6c0aed6fd163",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1250,
        "y": 420,
        "wires": [
            [
                "d9e57f23e47ede4f",
                "d004346e5f653af5"
            ]
        ]
    },
    {
        "id": "cc7a86b256d28c1a",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "6b67e97540ef8025",
                "a33900e39de50ab5"
            ]
        ]
    },
    {
        "id": "d9e57f23e47ede4f",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 420,
        "wires": []
    },
    {
        "id": "6b67e97540ef8025",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 640,
        "wires": []
    },
    {
        "id": "479aa6be0d4f3924",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "ab5156dbb388b81a",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 2: Daging Merah (Suhu, -100 - 10 C)",
        "low": "-100",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "479aa6be0d4f3924"
            ]
        ]
    },
    {
        "id": "393fa1862828a1e9",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "5fac3f688cf310a6",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 3: Daging Putih (pH, 1 - 14)",
        "low": "1",
        "high": "14",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "393fa1862828a1e9"
            ]
        ]
    },
    {
        "id": "926a475f401ea14c",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 5: Sayuran (Berat, 0 - 1000 kg)",
        "low": "0",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "26f2707296315ed3"
            ]
        ]
    },
    {
        "id": "26f2707296315ed3",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "39cf2682c8cfec41",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 6: Buah-buahan (Kelembaban, 0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "951e9db186cc73ac"
            ]
        ]
    },
    {
        "id": "951e9db186cc73ac",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1080,
        "y": 500,
        "wires": []
    },
    {
        "id": "4b350121fe1bacae",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 8: Hasil penjualan (Sales, IDR 0 - 1000000000)",
        "low": "0",
        "high": "1000000000",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 680,
        "wires": [
            [
                "3d2c9b2a6be9d9b3"
            ]
        ]
    },
    {
        "id": "3d2c9b2a6be9d9b3",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "f40ddd88dd62d62c",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "Subsistem 7: Deteksi musim (Variabel musim, 1 - 4)",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 490,
        "y": 640,
        "wires": [
            [
                "552da1aee4e521d1"
            ]
        ]
    },
    {
        "id": "552da1aee4e521d1",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "08dfb76f785fb1a4",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "b6967844bdf96b38",
                "cb308fd75ad3d7a9"
            ]
        ]
    },
    {
        "id": "b6967844bdf96b38",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 240,
        "wires": []
    },
    {
        "id": "e5ce7b5ce340e889",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/temp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "2540bdcff95f78bb",
                "cdf415b40320c165"
            ]
        ]
    },
    {
        "id": "2540bdcff95f78bb",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 280,
        "wires": []
    },
    {
        "id": "2595ed6ed9eeeee3",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1250,
        "y": 460,
        "wires": [
            [
                "d3d4a1716f984184",
                "e2ea598be2d03649"
            ]
        ]
    },
    {
        "id": "d3d4a1716f984184",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 460,
        "wires": []
    },
    {
        "id": "be45123a5ae3fc37",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/frik2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "bbbcbaf22810b8b5",
                "9979ccfd5e3bde0d"
            ]
        ]
    },
    {
        "id": "bbbcbaf22810b8b5",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 500,
        "wires": []
    },
    {
        "id": "569354bc525b6a4b",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "3d37c46108bd431d",
                "1dc6304168b4963b"
            ]
        ]
    },
    {
        "id": "3d37c46108bd431d",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 680,
        "wires": []
    },
    {
        "id": "cbee16c23d484e95",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/dl3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 720,
        "wires": [
            [
                "4746bf57d5f19d3f",
                "ecc89ad4fda7a728"
            ]
        ]
    },
    {
        "id": "4746bf57d5f19d3f",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 720,
        "wires": []
    },
    {
        "id": "d29316d1346f4b5e",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Sistem 2: Smart Plantation",
        "info": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "8e443cf2d53d1b4b",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Sistem 1: Smart Farm",
        "info": "",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "ade803c60deac550",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Sistem 3: Smart Restaurant",
        "info": "",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "fd33df5dea296e1f",
        "type": "comment",
        "z": "fe9ea17b49df0c02",
        "name": "Pabrik 'Pra UAS'",
        "info": "",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a63ca28a41ec5f9",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 1: Susu Hewani dan Telur (Gas, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb308fd75ad3d7a9",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 2: Daging Merah (Suhu, -100 - 10 C)",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 220,
        "wires": []
    },
    {
        "id": "cdf415b40320c165",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "7e73e73e8d6c84c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 3: Daging Putih (pH, 1 - 14)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1310,
        "y": 260,
        "wires": []
    },
    {
        "id": "d004346e5f653af5",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 4: Sumber karbohidrat (Volume, 0 - 100000 L)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 400,
        "wires": []
    },
    {
        "id": "e2ea598be2d03649",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 5: Sayuran (Berat, 0 - 1000 kg)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1500,
        "y": 440,
        "wires": []
    },
    {
        "id": "9979ccfd5e3bde0d",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "a5fa86670b910c43",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 6: Buah-buahan (Kelembaban, 0 - 100%)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 480,
        "wires": []
    },
    {
        "id": "a33900e39de50ab5",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 7: Deteksi musim (Variabel musim, 1 - 4)",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 620,
        "wires": []
    },
    {
        "id": "1dc6304168b4963b",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 8: Hasil penjualan (Sales, IDR 0 - 1000000000)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "ecc89ad4fda7a728",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "e84211c10641977c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Subsistem 9: Jumlah Pengunjung (jumlah orang, 0 - 200)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1370,
        "y": 700,
        "wires": []
    },
    {
        "id": "33d1d8175c124c95",
        "type": "random",
        "z": "fe9ea17b49df0c02",
        "name": "aktuator (0 - 1000)",
        "low": "0",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "14b798ea9254ec5b"
            ]
        ]
    },
    {
        "id": "14b798ea9254ec5b",
        "type": "mqtt out",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/aktuator",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "9291138b38551650",
        "type": "mqtt in",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "topic": "uts/aktuator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "57982b77d6c8f1a6",
                "ed7d90984caa63d4"
            ]
        ]
    },
    {
        "id": "ed7d90984caa63d4",
        "type": "debug",
        "z": "fe9ea17b49df0c02",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 800,
        "wires": []
    },
    {
        "id": "57982b77d6c8f1a6",
        "type": "ui_gauge",
        "z": "fe9ea17b49df0c02",
        "name": "",
        "group": "859e9c56a728cf6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Aktuator (0 - 1000)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 780,
        "wires": []
    },
    {
        "id": "727660ac399984c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7e73e73e8d6c84c5",
        "type": "ui_group",
        "name": "Sistem 1: Smart Farm",
        "tab": "310b4eda0426e1b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5fa86670b910c43",
        "type": "ui_group",
        "name": "Sistem 2: Smart Plantation",
        "tab": "310b4eda0426e1b8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e84211c10641977c",
        "type": "ui_group",
        "name": "Sistem 3: Smart Restaurant",
        "tab": "310b4eda0426e1b8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "859e9c56a728cf6a",
        "type": "ui_group",
        "name": "Aktuator",
        "tab": "310b4eda0426e1b8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "310b4eda0426e1b8",
        "type": "ui_tab",
        "name": "Pabrik 'Pra UAS'",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]